.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.containerList{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
}
#items{
    margin: 0;
    padding-bottom:5px ;
}
.unactive{
 display: none;
}

body{
    font-family: "Montserrat",sans-serif;
    font-size: .9rem;
    font: weight 400;
    margin: 0;
}
input{
    font-family: "Montserrat",sans-serif;

}
.btn{
    width: 70px;
    height: 25px;
}
.formEditBtn{
    display: flex;
    justify-content:  space-between;
    margin-top: 10px;
}
.formBtn{
    font-family: "Montserrat",sans-serif;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: black;
    background-color: aliceblue;
	border: rgba(97, 97, 97, 0.61) solid 1px;
    display: block;
	margin: auto;
	margin-bottom: 10px;
}
button:hover{
    background-color: #dadada;
}
.editButton{
    display: none;
}
.editActive {
    display: block !important;
  }
main{
    margin: auto;
    border: 2px solid ;
    width: 60vw;
	height: 100%;
    padding: 15px;
}

.subTitle{
    color: #377ea4;
    margin-top:20px ;
    padding-bottom: 5px;
    font-size: 200;
    text-decoration-style:none ;
}
.title{
    text-align: center;
}

h1 {
    color: #195c70;;
    text-transform: uppercase;
}
h1{
    margin: 0;
}
h1 {
    font-size: 2.7rem;
    letter-spacing: .05em;
    font-weight: 800;
}
.addBtn{
    border-radius: 5px;
    width: 100px;
	height: 30px;
}
form{
    display: grid;
    grid-template-columns: repeat(1,50%);
    grid-template-rows: repeat(5,auto);
    align-items: flex-start;
    height: 100%;
    padding: 5px;
}
form > label{

    margin: 5px;
}


.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.editBtn {
    float: right;
    margin-right: 20px;
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
}

@media only screen and (max-width:600px) {
    main{
        width: 100%;
        border: none;
    }
}